@charset "utf-8";
/* CSS Document */
html,body {
	overflow: hidden;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.virtual_body {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: auto;
	background:url(../pic/background.jpg) no-repeat local;
}

.fixed_pic {
	width: 57px;
	height: 175px;
	float: right;
	position:fixed;
	top: 170px;
	right:125px;
	
}

.fixed_pic_box {
	width:77px;
	height:144px;
	float:right;
	position:fixed;
	top:162px;
	right:48px;
	

}

.fixed_pic ul {
	list-style:none;
	margin:0px;
	padding:0px;
	
}

.fixed_pic ul li {
	width:57px;
	height:57px;
	display:inline-block;
	line-height:57px;
	
	margin-bottom:2px;
	padding:0px;
}

.fixed_pic_box ul {
	list-style:none;
	margin:0px;
	padding:0px;
	
}

.fixed_pic_box ul li {
	width:77px;
	height:72px;
	display:inline-block;
	line-height:72px;
	
	margin:0px;
	padding:0px;
}

.fixed_ticket {
	width: 190px;
	height: 296px;
	float: left;
	position:fixed;
	top:345px;
	bottom:0px;
	left:0px;

}


.head {
	background-color: #CCCCCC;
	width: 100%;
	height: 27px;
	margin: 0px 0px 0px 0px;
	font-family: "宋体";
	font-size: 12px;
}

.head1 {
	margin: 5 0 5 198;
	width: 450px;
	height: 27px;
}

.head1 a {
	color: #5D5D5D;
	text-decoration: none;
}

.head1 a:hover {
	color: #000000;
}

.head2 a {
	color: #5D5D5D;
	text-decoration: none;
	font-size:14px;
}

.head2 a:hover {
	color:#FFF;
	text-decoration:underline;
	background-color:#6DD10A;
}

.head2 {
	margin: 5 157 5 0;
	width: 110px;
	height: 27px;
}

.center {
	width: 100%;
	height: 340px;
	background-color: #669900;
	margin: 0px;
	border: 0px;
	background:url(../pic/sub_logo.png) no-repeat;
	background-position:center;
}

.center_img {
	width: 370px;
	height: 75px;
	margin: 0 0 0 198;
	padding-top: 20px;
}


.navigation {
	width: 980px;
	height: 100%;
	font-size:12px;
	margin:0 195 0 195;
	font-family:"宋体";
	color:#454545;
}

.navigation ul{
	list-style:none;
	margin:0px;
	padding-top:5px;
	background-color: #D5D5D5;
}
.navigation ul li {
	display:inline-block;
	zoom:1;
	*display:inline;
	width:95px;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	 font-family: "幼圆";
	 font-size: 16px;
}

.current{
	color:#4F3EE8;
}

.navigation a {
	color: #454545;
	text-decoration: none;
}

.navigation a:hover {
	color: #4F3EE8;
}

.main {
	width: 980px;
	height: 100%;
}

.subject {
	width: 980px;
	height: 1150px;
}

.subject_left {
	width:290px;
	height:1150px;
	float:left;
	margin:0px;
}

.subject_left_top {
	height:420px;
	background-color:#EBEBEB;
	margin:0px;
}

#left_top_img {
	margin:45 25 40 25;
}

.subject_left_top ul {
	list-style:none;
	margin:0px;
	background-color:#EBEBEB;

}

.subject_left_top ul li{
	cursor:pointer;
	font-size:14px;
	width:240px;
	height:25px;

	text-align:left;
	display:inline-block;
	line-height:25px;

}

.current {
	color:#3420E6;
}

#hr {
	color:#EBEBEB;
	size:1px;
	width:235px;
	margin:0 0 12 0;
}

.subject_left_bottom {
	height:730px;
	background-color:#F3F3F3;
}

.subject_left_bottom ul {
	list-style:none;
	margin:0px;
	background:#F3F3F3;
}

.subject_left_bottom ul li {
	display:inline-block;
	width:80px;
	height:20px;
	line-height:15px;
	text-align:left;
	cursor:pointer;
	
	font-size:12px;
}

.selet {
	color:#6AC5DB;
}


.left_bottom_men ul {
	list-style:none;
	margin:0px;
	background:#F3F3F3;
}

.left_bottom_men ul li {
	cursor:pointer;
	font-size:12px;
	width:230px;
	height:75px;
	text-align:left;
	display:inline-block;
	
	background:#F3F3F3;
}

.subject_right {
	width:690px;
	height:1150px;
	
	float:right;
	margin:0px;
}

.subject_right1 {
	height:50px;
	background-color:#FFFFFF;
	margin:0px;
}

.subject_right1 p{
	height:10px;
	width:500px;
	margin:0;
	padding:15 15 10 20;
	color:#616161;
}

.subject_right1 a {
	color: #616161;
	text-decoration: none;
}

.subject_right1 a:hover {
	color: #616161;
}

.subject_right2 {
	height:1100px;
	background-color:#FFFFFF;
	margin:0px;
}

.relation {
	width: 980px;
	height: 250px;
	background-color: #99B81D;
	font-size: 12px;
}

.relation_left {
	width: 600px;
	height: 170px;
	float: left;
	margin: 50px;
}

.relation_right {
	width: 230px;
	height: 90px;
	float: right;
	margin-top: 50px;
	
	font-size: 13px;
	color: #FFFFFF;
	
}

.relation_right ul {
	list-style:none;
	margin:0px;
	padding:0px;
	background: #99B81D;
}

.relation_right ul li {
	display:inline-block;
	zoom:1;
	*display:inline;
	width:57px;
	height:57px;
	line-height:57px;
	margin:0px;
	padding:0px;
}

.relation_right ul li .wx {
	position:relative;
}

.relation_element {
	width: 70px;
	height: 20px;
	margin: 0 5 15 0;
	float: left;
}

.relation_element a {
	color: #FFFFFF;
	text-decoration: none;
}

.relation_element a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.botton {
	width: 980px;
	height: 100px;
	font-size: 12px;
	font-family: "宋体";
	padding-top: 20px;
}

.select{
	height:100px !important;
}

