@charset "utf-8";
/* CSS Document */
html,body {
	overflow: hidden;
	margin: 0px;
	padding:0px;
	width: 100%;
	height: 100%;
	background:#BCD26B;
	cursor: default;
}

.virtual_body {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: auto;
	background:url(../pic/background.jpg) no-repeat local;
	
}

.fixed_div {
	position: fixed;
	width: 190px;
	height: 100%;
	bottom: 0px;
	left: 0px;
}

.fixed_pic {
	width: 57px;
	height: 175px;
	margin-top: 170px;
	float: left;
}

.fixed_ticket {
	width: 190px;
	height: 296px;
	float: left;
}

.head {
	background-color: #CCCCCC;
	width: 100%;
	height: 27px;
	margin: 0px 0px 0px 0px;
	font-family: "宋体";
	font-size: 12px;
}

.head1 {
	margin: 5 0 5 198;
	width: 450px;
	height: 27px;
}

.head1 a {
	color: #5D5D5D;
	text-decoration: none;
	
}

.head1 a:hover {
	color: #000000;
}

.head2 a {
	color: #5D5D5D;
	text-decoration: none;
	font-size:14px;
}

.head2 a:hover {
	color:#FFF;
	text-decoration:underline;
	background-color:#6DD10A;
}

.head2 {
	margin: 5 157 5 0;
	width: 110px;
	height: 27px;
}

.center {
	width: 100%;
	height: 340px;
	background-color: #669900;
	margin: 0px;
	border: 0px;
	background:url(../pic/sub_logo.png) no-repeat;
	background-position:center;
}

.center_img {
	width: 370px;
	height: 75px;
	margin: 0 0 0 198;
	padding-top: 20px;
}

.navigation {
	width: 980px;
	height: 100%;
	font-size:12px;
	margin:0 195 0 195;
	font-family:"宋体";
	color:#454545;
}

.navigation ul{
	list-style:none;
	margin:0px;
	padding-top:5px;
	background-color: #D5D5D5;
}
.navigation ul li {
	display:inline-block;
	zoom:1;
	*display:inline;
	width:95px;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	 font-family: "幼圆";
	 font-size: 16px;
}

.current{
	color:#4F3EE8;
}

.navigation a {
	color: #454545;
	text-decoration: none;
}

.navigation a:hover {
	color: #4F3EE8;
}

.main {
	width: 980px;
	height: 100%;
	/*background-color: #CCFFFF;*/
}

.main .subject {
	width: 980px;
	height: 1086px;
	display:none;
}
.current{
	color:#2917CA;
}

.sub1 {
	width: 650px;
	height: 373px;
	float: left;
	/*background-color: #FF66FF;*/
}

.sub2 {
	width: 330px;
	height: 373px;
	background-color: #EAEAEA;
	float: right;
}

.sub21 {
	width: 270px;
	height: 15px;
	padding: 40 0 10 30;
}

.sub22 {
	width: 270px;
	height: 30px;
	font-family: "宋体";
	font-size: 12px;
	padding: 5 0 0 30;
}

.sub22 a {
	color: #272727;
	text-decoration: none;
}

.sub22 a:hover {
	color: #1C1089;
}

.sub23 {
	width: 270px;
	font-family: "宋体";
	font-size: 13px;
	padding: 150 0 0 30;
}

.sub23 a {
	color: #787878;
	text-decoration: none;
}

.sub23 a:hover {
	color: #000000;
}

.sub3 {
	width: 650px;
	height: 340px;
	background-color: #FCFCFC;
	float: left;
}

.sub31 {
	width: 650px;
	height: 30px;
	margin: 40 0 0 0;
}

.sub31_1 {
	width: 110px;
	height: 30px;
	margin: 0 0 0 40;
	float: left;
}

.sub31_2 {
	width: 47px;
	height: 12px;
	float: right;
	margin: 0 40 0 0;
}

.sub32 {
	width: 150px;
	height: 210px;
	margin: 15 40 0 0;
	float: right;
	background-color: #66FFFF;
}

.sub4 {
	width: 330px;
	height: 340px;
	background-color: #E0E0E0;
	float: right;
}

.sub4_all {
	width: 250;
	height: 260;
	margin: 40px;
}

.sub4_part1 {
	width: 250;
	height: 15;
	margin-bottom: 10px;
}

.sub4_part2 {
	width: 250;
	height: 30;
	margin-bottom: 10px;
	
}

.sub4_part2 ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.sub4_part2 ul li {
	display:inline-block;
	zoom:1;
	*display:inline;
	width:60px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:13px;
	cursor:pointer;
	border:1px solid #0080FF;
}

.current2 {
	background:#180E76;
	color:white;
}
.sub4_part3 {
	width: 254;
	height: 197;
	margin-bottom: 10px;
	font-size: 12px;
}

.sub4_part3_element {
	width: 57px;
	height: 13px;
	background-color: #D0D0D0;
	margin: 0 1 1 0;
	padding: 8 0 8 0;
	float: left;
	text-align: center;
}

.sub5 {
	width: 330px;
	height: 373px;
	background-color: #E6E6E6;
	float: left;
}

.sub5_1 {
	width: 330px;
	height: 70px;
	background-color: #E1E1E1;
}

.sub5_img {
	padding: 20 100 20 100;
}

.sub5_2 {
	width: 330px;
	height: 303px;
	background-color: #CCCC99;
}

.sub6 {
	width: 650px;
	height: 373px;
	background-color: #EAEAEA;
	float: right;
}

.sub6_1 {
	width: 650px;
	height: 60px;
	margin: 0 0 0 0;
}

.sub6_11 {
	width: 129px;
	height: 14px;
	margin: 40 0 0 40;
	float: left;
}

.sub6_12 {
	width: 47px;
	height: 12px;
	margin: 40 40 0 0;
	float: right;
}

.sub6_2 {
	width: 570px;
	height: 234px;
	margin: 40px;
	background-color: #99FFCC;
}

.partners {
	width: 980px;
	height: 340px;
	/*background-color: #FF66FF;*/
}

.relation {
	width: 980px;
	height: 250px;
	background-color: #99B81D;
	font-size: 12px;
}

.relation_left {
	width: 600px;
	height: 170px;
	float: left;
	margin: 50px;
}

.relation_right {
	width: 230px;
	height: 90px;
	float: right;
	margin-top: 50px;
	
	font-size: 13px;
	color: #FFFFFF;
	
}

.relation_right ul {
	list-style:none;
	margin:0px;
	padding:0px;
	background: #99B81D;
}

.relation_right ul li {
	display:inline-block;
	zoom:1;
	*display:inline;
	width:57px;
	height:57px;
	line-height:57px;
	margin:0px;
	padding:0px;
}

.relation_right ul li .wx {
	position:relative;
}

.relation_element {
	width: 70px;
	height: 20px;
	margin: 0 5 15 0;
	float: left;
}

.relation_element a {
	color: #FFFFFF;
	text-decoration: none;
}

.relation_element a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.botton {
	width: 980px;
	height: 100px;
	font-size: 12px;
	font-family: "宋体";
	padding-top: 20px;
}